a {
    text-decoration: none;
    color: rgb(194, 202, 202);
}

a:hover {
    color: black;
}

body {
    background-color: black;
    color: rgb(194, 202, 202);
}

.bio {
    display: flex;
    align-items: center;
}

.btn-light {
    border-radius: 20%;
    background-color: rgb(150, 155, 155);
    border: none;
}


.btn-primary {
    color: white;
    background-color: rgb(16, 30, 23);
    border: none;
}

.btn-success {
    color: white;
    background-color: rgb(150, 155, 155);
    border: none;

}

.card-body {
    background-color: rgb(150, 155, 155);
}


.container {
    scroll-margin-top: 4rem;
}

#cv {
    background-color: rgb(150, 155, 155);
}

hr {
    color: white;
}

#myphoto {
    border-radius: 50%;
    max-width: 50%;
    border: 1px solid black;
}

.navbar-toggler, .navbar-toggler-icon {
    background-color: rgb(150, 155, 155);
}

.nav-link {
    color: rgb(194, 202, 202);
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar {
    background-color: black;
}

.response {
    width: 100%;
    height: auto;
  }
